@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --primary-pink: hsl(322, 100%, 66%);
    --primary-light-pink: hsl(321, 100%, 78%);
    --primary-light-red: hsl(0, 100%, 63%);

    --neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --neutral-very-pale-blue: hsl(207, 100%, 98%);
    --neutral-very-pale-cyan: hsl(193, 100%, 96%);
    --neutral-grayish-blue: rgb(128, 141, 153);
    --heading-font-family: 'Poppins', sans-serif;
}

*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

html {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    color: var(--neutral-very-dark-cyan);
}

.container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 100px;
}

header nav a {
    display: block;
    padding: 5px 25px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid var(--primary-light-pink);
    box-shadow: 0px 0px 5px .1px rgba(128, 141, 153, .4);
    font-size: .5rem;
    text-decoration: none;
    color: var(--primary-light-pink);
}

header nav a:hover {
    opacity: .8;
}

header .content {
    text-align: center;
    max-width: 1000px;
}

header .content .text {
    padding: 0 0 100px 0;
}

header .content .text h1 {
    font-size: 2rem;
}

header .content .text p {
    color: var(--neutral-very-dark-cyan);
    font-weight: 400;
    font-size: 1.1rem;
    margin: 20px 0 50px;
    line-height: 1.2rem;
    padding: 0 175px;
}

header .content .text a {
    display: inline-block;
    padding: 10px 40px;
    background-color: var(--primary-pink);
    border-radius: 20px;
    font-size: .7rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

header .content .text a:hover {
    opacity: .4;
}

header .content .img {
    width: 100%;
    height: fit-content;
}

header .content .img img {
    width: 100%;
}

.numbers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers .number-item img {
    width: 30px;
    align-self: flex-start;
}

.numbers .number-item {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers .number-item .head {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--neutral-very-dark-cyan);
}

.numbers .number-item .text {
    color: var(--neutral-grayish-blue);
    font-size: .85rem;
}

.prop {
    padding: 55px 0;
    text-align: center;
}

.prop .container {
    padding: 0;
}

.prop .prop-items {
    display: grid;
    gap: 150px;
}

.prop .prop-items .prop-item h3 {
    font-size: 1rem;
    margin-bottom: 15px;
}

.prop .prop-items .prop-item p {
    color: var(--neutral-very-dark-cyan);
    font-size: .8rem;
    line-height: 1.1rem;
    margin-bottom: 40px;
}

.prop .prop-items .prop-item .img {
    padding: 50px 40px 75px;
}

.prop .prop-items .prop-item img {
    width: 100%;
}

.prop .prop-items .grow,
.prop .prop-items .users {
    padding: 0 20px;
    background-color: var(--neutral-very-pale-blue);
    width: 100%;
}

.prop .prop-items .grow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: -100px;
    background: url(images/bg-section-top-mobile-1.svg);
}

.prop .prop-items .grow::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: -100px;
    background: url(images/bg-section-bottom-mobile-1.svg) no-repeat;

}

.prop .prop-items .users::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: -100px;
    background: url(images/bg-section-top-mobile-2.svg);
}


.prop .prop-items .users:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: -100px;
    background: url(images/bg-section-bottom-mobile-2.svg) no-repeat;

}

.box .container {
    padding: 0 10px;

}

.box .inner {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    margin-top: 80px;
}

.box .inner h5 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.box .inner a {
    display: inline-block;
    padding: 10px 40px;
    background-color: var(--primary-pink);
    border-radius: 20px;
    font-size: .7rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.box .inner a:hover {
    opacity: .4;
}

footer {
    margin-top: 300px;
    padding-top: 55px;
    padding-bottom: 40px;
    padding: 55px 10px 40px;
    background-color: var(--neutral-very-dark-cyan);
}

footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: -50px;
    background: url(images/bg-footer-top-mobile.svg) no-repeat;
}

footer .news {
    margin-bottom: 100px;
}

footer .news .head {
    color: white;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .news .text {
    color: white;
    font-size: .8rem;
    line-height: 1.4rem;
    margin-bottom: 30px;
    font-weight: 600;
}

footer .news form {
    display: flex;
    flex-direction: column;
}

footer .news form input {
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}

footer .news form button {
    width: 50%;
    color: white;
    font-weight: 700;
    font-size: .9rem;
    padding: 12px;
    background-color: var(--primary-pink);
    border: none;
    border-radius: 5px;
    align-self: flex-end;
}

footer .logo img {
    filter: invert(83%) sepia(100%) saturate(31%) hue-rotate(244deg) brightness(108%) contrast(100%);
    width: 200px;
    margin-bottom: 10px;
}

footer .logo p {
    color: white;
    font-size: .8rem;
    line-height: 1.4rem;
    margin-bottom: 40px;
}

footer .contact {
    margin-bottom: 50px;
}

footer .contact .item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .contact .item img {
    margin-right: 20px;
    margin-top: 5px;
    width: 16px;
}

footer .contact .item p {
    color: white;
    font-size: .8rem;
    line-height: 1.2rem;
}

footer .content .social {
    display: flex;
    width: 100%;
    margin: 40px 0 20px;
}

footer .content .social .icon a {
    text-decoration: none;
}

footer .content .social .icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 20px;
    color: var(--neutral-very-dark-cyan);
    font-size: 20px;
    background-color: white;
}

footer .content .social .icon:nth-child(2) a i {
    color: white;
    background-color: var(--neutral-very-dark-cyan);
    font-size: 30px;
}

footer .content .social .icons .icon a i:hover {
    color: var(--primary-pink);
    border-color: var(--primary-pink);
}

footer .content .social .right {
    text-align: center;
}

footer .content .social .right p {
    font-size: .6rem;
    color: white;
}

@media only screen and (min-width: 1000px) {
    .container {
        padding: 0 80px;
    }

    header {
        margin-bottom: 80px;
    }

    header nav {
        height: 160px
    }

    header nav img {
        width: 170px;
    }

    header nav a {
        font-size: .8rem;
        font-weight: 700;
        padding: 10px 30px;
    }

    header .content {
        max-width: 1000px;
    }

    header .content .text h1 {
        font-size: 2.5rem;
    }

    header .content .text p {
        line-height: 1.5rem;
    }

    header .content .text a {
        border-radius: 30px;
        padding: 15px 60px;
    }

    .numbers .container {
        max-width: 1000px;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 100px;
    }

    .prop {
        margin-bottom: 80px;
    }

    .prop .prop-items .prop-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 100px;
        align-items: center;
        text-align: left;
        gap: 100px;
        height: 400px;
    }

    .prop .prop-items .prop-item .img {
        display: flex;
        justify-content: end;
    }

    .prop .prop-items .prop-item .img img {
        height: 300px;
        width: auto;
        margin: 0;
    }

    .prop .prop-items .grow .img,
    .prop .prop-items .users .img {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .prop .prop-items .grow .text,
    .prop .prop-items .users .text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .prop .prop-items .prop-item .text h3 {
        font-size: 1.5rem;
    }

    .prop .prop-items .prop-item .text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .prop .prop-items .grow::before {
        top: -150px;
        height: 150px;
        background: url(images/bg-section-top-desktop-1.svg);
    }

    .prop .prop-items .grow::after {
        bottom: -150px;
        height: 150px;
        background: url(images/bg-section-bottom-desktop-1.svg) no-repeat;

    }

    .prop .prop-items .users::before {
        top: -150px;
        height: 150px;
        background: url(images/bg-section-top-desktop-2.svg);
    }

    .prop .prop-items .users:after {
        bottom: -150px;
        height: 150px;
        background: url(images/bg-section-bottom-desktop-2.svg) no-repeat;
    }

    .box {
        display: flex;
        justify-content: center;
    }

    .box .inner {
        padding: 120px 80px;
        margin-bottom: -80px;
    }

    .box .inner h5 {
        font-size: 2rem;
    }

    .box .inner a {
        font-size: 1rem;
        padding: 20px 60px;
        border-radius: 40px;
    }

    footer {
        padding-bottom: 80px;
    }

    footer::before {
        height: 150px;
        top: -150px;
        background: url(images/bg-footer-top-desktop.svg) no-repeat;
    }

    footer .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 100px;
    }

    footer .content .info {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 60%;
    }

    footer .content .news {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    footer .content .social {
        display: flex;
    }
}